<h2 id="contacto">Contáctame</h2>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="error-message" *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
        El nombre es requerido.
    </div>
  <input formControlName="name" placeholder="Nombre">

  <div class="error-message" *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
    Introduce un email válido.
</div>
  <input formControlName="email" placeholder="Email">

  <div class="error-message" *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
    El mensaje es requerido.
</div>
  <textarea formControlName="message" placeholder="Mensaje" rows="5"></textarea>


  <button type="submit" [disabled]="!contactForm.valid">Enviar</button>
</form>